In [23]:
import  pandas as pd
file_path=r'C:\Users\16798\PycharmProjects\dataans\processed_data.csv'
df=pd.read_csv(file_path,encoding='utf-8')

In [24]:
df.dtypes

日期      object
id       int64
车型      object
制造商     object
价格范围    object
销量       int64
dtype: object

In [25]:
df.count()

日期      16997
id      16997
车型      16997
制造商     16997
价格范围    16997
销量      16997
dtype: int64

In [27]:
df.dropna(axis="columns",how='all')

             日期    id           车型   制造商          价格范围     销量
0      2022/3/1  4363      Model Y   特斯拉  26.35-31.35万  39730
1      2022/3/1  1145           轩逸    日产   6.98-14.48万  30240
2      2022/3/1  3762      Model 3   特斯拉  23.55-33.95万  26024
3      2022/3/1  3196  长安CS75 PLUS    长安   8.99-13.49万  22811
4      2022/3/1   535          凯美瑞    丰田  14.18-22.98万  22518
...         ...   ...          ...   ...           ...    ...
16992  2025/2/1   337       标致508L    标致  14.67-19.07万     64
16993  2025/2/1  5817     吉利几何E萤火虫  吉利几何    5.98-8.48万     63
16994  2025/2/1   341       标致5008    标致  14.97-20.47万     63
16995  2025/2/1  2167           嘉际  吉利汽车  10.97-14.28万     61
16996  2025/2/1  5294     英菲尼迪QX60  英菲尼迪  37.88-51.88万     60

[16997 rows x 6 columns]

In [28]:
df.loc[:,'价格范围']=df['价格范围'].str.replace("万","")

In [29]:
df.loc[1:10]

          日期    id           车型  制造商         价格范围     销量
1   2022/3/1  1145           轩逸   日产   6.98-14.48  30240
2   2022/3/1  3762      Model 3  特斯拉  23.55-33.95  26024
3   2022/3/1  3196  长安CS75 PLUS   长安   8.99-13.49  22811
4   2022/3/1   535          凯美瑞   丰田  14.18-22.98  22518
5   2022/3/1  4865     宋PLUS DM  比亚迪  12.78-17.58  22375
6   2022/3/1   393           朗逸   大众   6.59-10.00  21331
7   2022/3/1   534           雷凌   丰田   8.18-11.68  19488
8   2022/3/1   649         哈弗H6   哈弗   7.19-12.19  19303
9   2022/3/1  1455           逸动   长安    6.39-7.69  17193
10  2022/3/1  4223  长安CS55 PLUS   长安   8.49-12.59  17176

In [30]:
df.set_index("id",inplace=True,drop=False)

In [31]:
df.head()

            日期    id           车型  制造商         价格范围     销量
id
4363  2022/3/1  4363      Model Y  特斯拉  26.35-31.35  39730
1145  2022/3/1  1145           轩逸   日产   6.98-14.48  30240
3762  2022/3/1  3762      Model 3  特斯拉  23.55-33.95  26024
3196  2022/3/1  3196  长安CS75 PLUS   长安   8.99-13.49  22811
535   2022/3/1   535          凯美瑞   丰田  14.18-22.98  22518

In [32]:
df.head(10)

            日期    id           车型  制造商         价格范围     销量
id
4363  2022/3/1  4363      Model Y  特斯拉  26.35-31.35  39730
1145  2022/3/1  1145           轩逸   日产   6.98-14.48  30240
3762  2022/3/1  3762      Model 3  特斯拉  23.55-33.95  26024
3196  2022/3/1  3196  长安CS75 PLUS   长安   8.99-13.49  22811
535   2022/3/1   535          凯美瑞   丰田  14.18-22.98  22518
4865  2022/3/1  4865     宋PLUS DM  比亚迪  12.78-17.58  22375
393   2022/3/1   393           朗逸   大众   6.59-10.00  21331
534   2022/3/1   534           雷凌   丰田   8.18-11.68  19488
649   2022/3/1   649         哈弗H6   哈弗   7.19-12.19  19303
1455  2022/3/1  1455           逸动   长安    6.39-7.69  17193

In [33]:
df['制造商'].unique()

array(['特斯拉', '日产', '长安', '丰田', '比亚迪', '大众', '哈弗', '本田', '五菱汽车', '吉利汽车',
       '奔驰', '奇瑞新能源', '奥迪', '长安欧尚', '宝马', '广汽传祺', '埃安', '小鹏汽车', '坦克',
       '哪吒汽车', '别克', '红旗', '荣威', '雪佛兰', '东风风行', '欧拉', '奇瑞', '零跑汽车', '捷途',
       '马自达', '捷达', '蔚来', '名爵', '现代', '雪铁龙', '东风风神', '北京汽车', '领克', '凯迪拉克',
       '沃尔沃', '林肯', '启辰', '宝骏', '思皓', '凌宝汽车', 'AITO', '合创汽车', '吉利几何',
       '东风纳米', '东风风光', '福特', '江淮瑞风', '星途', '极氪', '北京', '睿蓝汽车',
       '上汽大通MAXUS', '朋克汽车', '长安凯程', '岚图', '起亚', '标致', '创维汽车', '凯翼', '路虎',
       '斯柯达', '东南', 'ARCFOX极狐', '东风富康', '捷豹', 'SRM鑫源', '江铃集团新能源',
       'SWM斯威汽车', '理念', '中国重汽VGV', '电动屋', '大运', '魏牌', '小虎', '广汽集团', '奔腾',
       '海马', '英菲尼迪', '华晨新日', '一汽', '云度', 'DS', '新龙马汽车', '开瑞', '国金汽车',
       '智己汽车', '深蓝汽车', '理想汽车', '北京汽车制造厂', '腾势', '飞凡汽车', 'smart', '阿维塔',
       '高合', '蓝电', '曹操汽车', '江淮钇为', '吉利银河', '江淮汽车', '昊铂', '长安启源', '极石汽车',
       '方程豹', '仰望', '智界', 'iCAR', '奇瑞风云', 'Polestar极星', '东风风度', '东风奕派',
       '小米汽车', '远航汽车', '知豆', '乐道', '灵悉', '享界', '212', '领途汽车', '瑞驰'],
      dtype=object)

In [42]:
import numpy as np
df_group=df.groupby([df['制造商'],'日期'])['销量'].agg(np.sum)

In [43]:
df_group

制造商  日期
212  2024/10/1     812
     2024/11/1    1425
     2024/12/1    2025
     2025/1/1     1351
     2025/2/1     1143
                  ...
魏牌   2024/7/1     2449
     2024/8/1     2870
     2024/9/1     6274
     2025/1/1     4846
     2025/2/1     3506
Name: 销量, Length: 3480, dtype: int64

In [44]:
df_stack=df_group.unstack()
df_stack

日期,2022/10/1,2022/11/1,2022/12/1,2022/3/1,2022/4/1,2022/5/1,2022/6/1,2022/7/1,2022/8/1,2022/9/1,...,2024/2/1,2024/3/1,2024/4/1,2024/5/1,2024/6/1,2024/7/1,2024/8/1,2024/9/1,2025/1/1,2025/2/1
制造商,,,,,,,,,,,,,,,,,,,,,
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1351.0,1143.0
AITO,12038.0,8277.0,10180.0,3045.0,3245.0,5033.0,7021.0,7228.0,10040.0,10098.0,...,27240.0,24353.0,25073.0,32226.0,40822.0,39552.0,33526.0,35833.0,21836.0,11315.0
ARCFOX极狐,NaN,NaN,NaN,1623.0,601.0,1043.0,2079.0,1053.0,1053.0,1000.0,...,99.0,2095.0,2242.0,4485.0,7991.0,7938.0,9837.0,10880.0,6154.0,5088.0
DS,38.0,41.0,49.0,47.0,31.0,51.0,49.0,47.0,51.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Polestar极星,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,74.0,369.0,117.0,276.0,NaN,NaN,252.0,252.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
领途汽车,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,191.0,90.0
飞凡汽车,119.0,1501.0,1531.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,480.0,310.0,82.0,212.0,900.0,878.0,579.0,342.0,245.0,203.0
马自达,7352.0,5489.0,5871.0,8153.0,2821.0,7640.0,9415.0,6970.0,4559.0,6337.0,...,3956.0,6132.0,5954.0,5871.0,5535.0,4254.0,4331.0,6010.0,6604.0,3800.0
高合,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
魏牌,2296.0,2022.0,1200.0,519.0,611.0,732.0,1003.0,2060.0,2698.0,2269.0,...,2613.0,3304.0,4106.0,2770.0,2629.0,2449.0,2870.0,6274.0,4846.0,3506.0